/* .profile{
    grid-area: content;


    display: grid;

    grid-template-areas: 
    "avatar iap"
    "posts posts";

    grid-template-columns: 1fr 4fr;
} */

/* .hat{
    grid-area: hat;
}

.hat img{
    width: 100%;
    height: 200px;
    
} */

/* .description{
    width: 200px;
}

.posts{
    grid-area: posts;
    width: 95%;
    margin-left: 20px;
} */

.profile-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.content {
    padding: 20px;
}
