.dialog {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}
