.friendsList {
    width: 250px;
    background-color: #f1f1f1;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
.friendsList h2 {
    margin: 0;
    padding: 15px;
    background-color: #e17979;
    color: white;
    text-align: center;
    border: solid 1px  rgb(202, 170, 170);
}
.friend {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.friend:hover {
    background-color: #e9e9e9;
}
