/* .newPost textarea{
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(224, 224, 224);
    width: 30%;
    margin: 10px;

    padding:10px;
    resize: none;
} */

/* .newPost button{
    background-color: #aa0404; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
} */



.newPost button {
    padding: 10px 20px;
    border: none;
    background-color: #e17979;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.newPost button:hover {
    background-color: #a25757;
}

textarea:focus{
    outline: blue;
}

.newPost label{
    color: black;
    font-weight: 400;
}



.bodyPost {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.post {
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid rgba(204, 204, 204, 0.445);
}
.postContent {
    flex: 1;
}
.name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.text {
    font-size: 1em;
    line-height: 1.5;
}